<ul class="nav nav-pills" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-cro-list-tab" data-toggle="pill" href="#pills-cro-list" role="tab"
      aria-controls="pills-cro-list" aria-selected="true">Liste des CRO</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-new-cro-tab" data-toggle="pill" href="#pills-new-cro" role="tab"
      aria-controls="pills-new-cro" aria-selected="false">Nouveau CRO</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-cro-list" role="tabpanel" aria-labelledby="pills-cro-list-tab">
    <div class="table-responsive mt-3">
      <table class="table table-sm table-hover table-striped">
        <thead>
          <th>Date</th>
          <th>CRO</th>
          <th>Medecin</th>
          <th>Centre Médical</th>
          <th>PDF</th>
        </thead>
        <tr *ngFor="let cro of patientCros">
          <td>{{cro.date | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
          <td><button class="btn btn-link text-dark"><b>{{cro.croType.name}}</b></button>
          </td>
          <td>{{cro.practician.firstName +" " + cro.practician.lastName}}</td>
          <td>{{cro.facility.name}}</td>
          <td><button class="btn btm-sm btn-light" style="width: 100%;" (click)="generateCro(cro)" 
            data-toggle="modal" data-target="#croPdfModal"><i
                class="fa fa-file-pdf text-danger" aria-hidden="true"></i></button>
          </td>
        </tr>
      </table>
      <div class="text-center mb-5 mt-4">
        <div *ngIf="loading" class="spinner-border text-info" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <span class="text-muted ml-3 " *ngIf="loading">Loading...</span>
        <div *ngIf="hasNoData" class="mt-3">
          <span class="text-muted ml-3 ">{{EmptyMessage}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 offset-md-5">
          <ngb-pagination [collectionSize]="totalItem" [pageSize]="perPage" [(page)]="page" [maxSize]="10"
            (pageChange)="onPageChange(page)" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade show " id="pills-new-cro" role="tabpanel" aria-labelledby="pills-new-cro-tab">
    <form [formGroup]="form">
      <div class="mt-3">
        <div class="row">
          <div class="col-md-4 input-group input-group-sm">
            <input formControlName="date" class="form-control" placeholder="jj-mm-AAAA" ngbDatepicker #d="ngbDatepicker"
              value="{{today}}">
            <div class="input-group-append">
              <span class="input-group-text" (click)="d.toggle()">
                <i class="far fa-calendar-alt"></i>
              </span>
            </div>
          </div>
          <div class="col-md-8">
            <ng-select placeholder="Type de CRO" (change)="setCroText()" formControlName="cro">
              <ng-option *ngFor="let cro of croTypes" [value]="cro.id">{{cro.name}}
              </ng-option>
            </ng-select>
          </div>
        </div>
        <div class="mt-3">
          <div *ngIf="previewData" [hidden]="croCustomText" class="mt-3">
            <div class="card">
              <div [innerHTML]="previewData" class="card-body" style="height: 20rem;"></div>
            </div>
            <button type="button" class="btn btn-success mx-2" (click)="save()">Valider</button>
            <button class="btn btn-sm btn-secondary  mx-2" (click)="toggleEditorHidden()"><i
                class="fas fa-pen-alt mr-1"></i>Modifier</button>
            <button type="button" class="btn btn-sm btn-danger mx-3" (click)="reset()">fermer</button>
          </div>
          <div [hidden]="!croCustomText">
            <div class="card">
              <div class="card-body" [hidden]="!croCustomText">
                <ckeditor [(ngModel)]="model.editorData" [ngModelOptions]="{standalone: true}" [editor]="Editor"
                  (ready)="onReady($event)" class="bg-light"></ckeditor>
              </div>
            </div>
            <div>
              <button type="button" class="btn btn-danger m-2" (click)="toggleEditorHidden()">Annuler</button>
              <button type="button" class="btn btn-success m-2" (click)="save()">Valider</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<app-patient-tag [patient]="patient"></app-patient-tag> 

<!-- Modal -->
<div class="modal fade" id="croPdfModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- ngx-extended-pdf-viewer -->
        <ngx-extended-pdf-viewer *ngIf='docSrc' [src]="docSrc" useBrowserLocale="true" height="80vh">
        </ngx-extended-pdf-viewer>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">fermer</button>
      </div>
    </div>
  </div>
</div>

    