<div class="card" *ngIf = "createUser">
    <div class="card-header">
        <div class="row">
            <div class="mr-auto p-2 col-md-4">
                <h3>{{title}}</h3>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="mt-3 col-sm-3 text-nowrap">
                        <button (click)="save('save')" class="btn btn-block btn-success btn-sm font-weight-bold">
                            Enregistrer
                        </button>
                    </div>
                    <div class="mt-3 col-sm-3 text-nowrap">
                        <span (click)="cancelAction()" class="btn btn-block btn-danger btn-sm font-weight-bold">
                            Annuler
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- / .card-header -->
    <div class="card-body">
        <p class="text-muted"> NB: les champs marqués d'un astérisque ( <span class="text-danger">*</span> ) sont
            obligatoire pour la validation de la fiche</p>

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link text-bold active" id="pills-user-information-tab" data-toggle="pill"
                    href="#pills-user-information" role="tab" aria-controls="pills-user-information"
                    aria-selected="true">Information utilisateur</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link text-bold" id="pills-user-role-tab" data-toggle="pill" href="#pills-user-role"
                    role="tab" aria-controls="pills-user-role" aria-selected="false">Attribution de roles</a>
            </li>
        </ul>
        <hr>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-user-information" role="tabpanel"
                aria-labelledby="pills-user-information-tab">
                <app-user-information-form  [invalidFormControls]="invalidFormControls" [userId]='userId'>
                </app-user-information-form>
            </div>
            <div class="tab-pane fade" id="pills-user-role" role="tabpanel" aria-labelledby="pills-user-role-tab">
                <app-user-role-form [userId]='userId'></app-user-role-form>
            </div>
        </div>
    </div>
    <!-- / .card-body -->
</div>
<app-autorisation-alert *ngIf="createUser == false"></app-autorisation-alert>