<form [formGroup]="form" (ngSubmit)="save()">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="mr-auto p-2 col-md-4">
                    <h3>{{title}}</h3>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="py-1 col-lg-4  col-md-6 col-sm-12  text-nowrap">
                            <button type="submit" (click)="actionToDo('save')"
                                class="btn btn-block btn-success btn-sm font-weight-bold" value="save">
                                Enregistrer
                            </button>
                        </div>
                        <div class="py-1 col-lg-4  col-md-6 col-sm-12  text-nowrap" *ngIf='!conventionId'>
                            <button type="submit" (click)="actionToDo('save_and_new')"
                                class="btn btn-block btn-info btn-sm font-weight-bold" value="save_and_new">
                                Enreg. & nouveau
                            </button>
                        </div>
                        <div class="py-1 col-lg-4  col-md-6 col-sm-12  text-nowrap">
                            <span (click)="cancelAction()" class="btn btn-block btn-danger btn-sm font-weight-bold"
                                value="cancel">
                                Annuler
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-convention-tab" data-toggle="pill" href="#pills-convention"
                        role="tab" aria-controls="pills-convention" aria-selected="true">Convention</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-code-act-tab" data-toggle="pill" href="#pills-code-act" role="tab"
                        aria-controls="pills-code-act" aria-selected="false">Redefinir des codes</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-act-tab" data-toggle="pill" href="#pills-act" role="tab"
                        aria-controls="pills-act" aria-selected="false">Redefinir des acts</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-convention" role="tabpanel"
                    aria-labelledby="pills-convention-tab">
                    <p class="text-muted"> NB: les champs marqués d'un astérisque ( <span class="text-danger">*</span> )
                        sont
                        obligatoire pour la validation du formulare</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name">Convention</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" formControlName="name" class="form-control"
                                        placeholder="Convention">
                                </div>
                                <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.name">
                                    ce champ doit être renseigné
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="typeactive">Etat</label>
                                <span class="text-red">*</span>
                                <ng-select formControlName="active" placeholder="Etat">
                                    <ng-option *ngFor="let active of actives" [value]="active.id">{{active.value}}
                                    </ng-option>
                                </ng-select>
                                <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.active">
                                    ce champ doit être renseigné
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-code-act" role="tabpanel" aria-labelledby="pills-code-act-tab">

                    <div class="row">

                        <div *ngFor="let code of codeFormGroup.controls; let index = index;">
                            <div class="items" id="{{'item_'+ index}}">
                                <ng-container [formGroup]="code">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="text-capitalize text-bold mt-4 float-right">
                                                {{codes[index]['name']}}</div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="name">Valeur actuelle</label>
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control"
                                                        value="{{codes[index]['value']}}" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="name">Valeur convention</label>
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control" formControlName="value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-act" role="tabpanel" aria-labelledby="pills-act-tab">
                    <div *ngFor="let act of actFormGroup.controls; let index = index;">
                        <div class="items" id="{{'item_'+ index}}">
                            <ng-container [formGroup]="act">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="act"> Act</label>
                                            <span class="text-danger">*</span>
                                            <ng-select class="" formControlName="act"
                                                data-placeholder="Selectionner un acte">
                                                <ng-option *ngFor="let act of acts" [value]="act.id">
                                                    {{act.name}}</ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-2">
                                        <div class="form-group">
                                            <label for="coefficient">Coefficient</label>
                                            <span class="text-danger">*</span>
                                            <div class="input-group input-group-sm">
                                                <input type="text" formControlName="coefficient" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-2">
                                        <span class="btn btn-danger btn-md mt-4" id="{{index}}"
                                            (click)="deleteActInput(index)"><i class="fa fa-trash"></i></span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <span class="btn btn-secondary" (click)="addActInput()">Ajouter un acte</span>
                </div>
            </div>

            <!-- hidden -->
            <input type="hidden" formControlName="id">
        </div>
    </div>
</form>