<form [formGroup]="form" (ngSubmit)="save()">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="mr-auto p-2 col-md-7">
                    <h3>{{title}}</h3>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="py-1 col-lg-4  col-md-6 col-sm-12  text-nowrap">
                            <button type="submit" (click)="actionToDo('save')"
                                class="btn btn-block btn-success btn-sm font-weight-bold" value="save">
                                Enregistrer
                            </button>
                        </div>
                        <div class="py-1 col-lg-4  col-md-6 col-sm-12  text-nowrap" *ngIf='!constantTypeId'>
                            <button type="submit" (click)="actionToDo('save_and_new')"
                                class="btn btn-block btn-info btn-sm font-weight-bold" value="save_and_new">
                                Enreg. & nouveau
                            </button>
                        </div>
                        <div class="py-1 col-lg-4  col-md-6 col-sm-12  text-nowrap">
                            <span (click)="cancelAction()" class="btn btn-block btn-danger btn-sm font-weight-bold"
                                value="cancel">
                                Annuler
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p class="text-muted"> NB: les champs marqués d'un astérisque ( <span class="text-danger">*</span> ) sont
                obligatoire pour la validation du formulare</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="name">Constante type</label>
                                <span class="text-danger">*</span>
                                <div class="input-group input-group-sm">
                                    <input type="text" formControlName="name" class="form-control"
                                        placeholder="Constante type">
                                </div>
                                <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.name">
                                    ce champ doit être renseigné
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="shortName">Abréviation</label>
                                <span class="text-danger">*</span>
                                <div class="input-group input-group-sm">
                                    <input type="text" formControlName="shortName" class="form-control"
                                        placeholder="abbreviation">
                                </div>
                                <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.shortName">
                                    ce champ doit être renseigné
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="constantDomain">Groupe</label>
                                <span class="text-danger">*</span>
                                <ng-select formControlName="constantDomain" placeholder="Groupe">
                                    <ng-option *ngFor="let domain of constantDomains" [value]="domain.id">
                                        {{domain.name}}
                                    </ng-option>
                                </ng-select>
                                <span class="text-danger"
                                    *ngIf="invalidFormControls && invalidFormControls.constantDomain">
                                    ce champ doit être renseigné
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="unitOfMesure">Unité de mesure</label>
                                <span class="text-danger">*</span>
                                <ng-select formControlName="unitOfMesure" placeholder="Unité de mesure">
                                    <ng-option *ngFor="let unit of unitOfMeasures" [value]="unit.id">{{unit.name}}
                                    </ng-option>
                                </ng-select>
                                <span class="text-danger"
                                    *ngIf="invalidFormControls && invalidFormControls.unitOfMesure">
                                    ce champ doit être renseigné
                                </span>
                            </div>
                        </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="significantDigits">Nombre de digit</label>
                                    <span class="text-danger">*</span>
                                    <div class="input-group input-group-sm">
                                        <input type="text" formControlName="significantDigits" class="form-control"
                                            placeholder="Nombre de digit">
                                    </div>
                                    <span class="text-danger"
                                        *ngIf="invalidFormControls && invalidFormControls.significantDigits">
                                        La valeur ce champ doit être nombre entier
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="resultType">Type</label>
                                    <ng-select formControlName="resultType" placeholder="Type"
                                        (change)="resultTypeChange()">
                                        <ng-option *ngFor="let type of resultTypes" [value]="type.id">{{type.value}}
                                        </ng-option>
                                    </ng-select>
                                    <span class="text-danger"
                                        *ngIf="invalidFormControls && invalidFormControls.resultType">
                                        ce champ doit être renseigné
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="typeactive">Etat</label>
                                    <span class="text-red">*</span>
                                    <ng-select formControlName="active" placeholder="Etat">
                                        <ng-option *ngFor="let active of actives" [value]="active.id">{{active.value}}
                                        </ng-option>
                                    </ng-select>
                                    <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.active">
                                        ce champ doit être renseigné
                                    </span>
                                </div>
                            </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" rows="3"
                                    formControlName="description"></textarea>
                            </div>
                            </div>

                    </div>
                </div>
                <div class="col-md-6">
                <div class="col-md-12" *ngIf="mustHaveOptions">
                    <div class="col-md-12">
                        <div class="card card-outline card-dark mt-4">
                            <div class="card-header">
                                <h3 class="card-title">Option de selection</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool"
                                        data-card-widget="collapse">
                                        <i class="fas fa-arrow-down"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div
                                    *ngFor="let option of optionsFormGroup.controls; let index = index;">
                                    <div class="items" id="{{'item_'+ index}}">
                                        <ng-container [formGroup]="option">
                                            <div class="row">
                                                <div class="col-lg-5 col-md-4">
                                                    <div class="form-group">
                                                        <label for="value">Options</label>
                                                        <span class="text-danger">*</span>
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" formControlName="value"
                                                                class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 col-md-4">
                                                    <div class="form-group">
                                                        <label for="order">N° d'ordre</label>
                                                        <span class="text-danger">*</span>
                                                        <div class="input-group input-group-sm">
                                                            <input type="number" formControlName="order"
                                                                class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label for="typeactive">Etat</label>
                                                        <span class="text-red">*</span>
                                                        <ng-select formControlName="active"
                                                            placeholder="Etat">
                                                            <ng-option *ngFor="let active of actives"
                                                                [value]="active.id">{{active.value}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <span class="text-danger"
                                                            *ngIf="invalidFormControls && invalidFormControls.active">
                                                            ce champ doit être renseigné
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-1 col-md-2">
                                                    <span class="btn btn-danger btn-md mt-4"
                                                        id="{{index}}"
                                                        (click)="deleteOptionRow(index)"><i
                                                            class="fa fa-trash"></i></span>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <span class="btn btn-primary" (click)="addConstantOption()">Ajouter une
                                    option</span>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /. card -->
                    </div>
                </div>
            </div>

            </div>




            <!-- hidden -->
            <input type="hidden" formControlName="id">
        </div>
    </div>
</form>