<form [formGroup]="form" (ngSubmit)="save()">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="mr-auto p-2 col-md-4">
                    <h3>{{title}}</h3>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="py-1 col-lg-4  col-md-6 col-sm-12  text-nowrap">
                            <button type="submit" (click)="actionToDo('save')"
                                class="btn btn-block btn-success btn-sm font-weight-bold" value="save">
                                Enregistrer
                            </button>
                        </div>
                        <div class="py-1 col-lg-4  col-md-6 col-sm-12  text-nowrap" *ngIf='!actId'>
                            <button type="submit" (click)="actionToDo('save_and_new')"
                                class="btn btn-block btn-info btn-sm font-weight-bold" value="save_and_new">
                                Enreg. & nouveau
                            </button>
                        </div>
                        <div class="py-1 col-lg-4  col-md-6 col-sm-12  text-nowrap">
                            <span (click)="cancelAction()" class="btn btn-block btn-danger btn-sm font-weight-bold"
                                value="cancel">
                                Annuler
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p class="text-muted"> NB: les champs marqués d'un astérisque ( <span class="text-danger">*</span> ) sont
                obligatoire pour la validation du formulare</p>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Acte</label>
                        <span class="text-danger">*</span>
                        <div class="input-group input-group-sm">
                            <input type="text" formControlName="name" class="form-control" placeholder="nom de l'acte">
                        </div>
                        <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.name">
                            ce champ doit être renseigné
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="codification">Codification</label>
                        <span class="text-danger">*</span>
                        <div class="input-group input-group-sm">
                            <input type="text" formControlName="codification" class="form-control" placeholder="Codification">
                        </div>
                        <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.codification">
                            ce champ doit être renseigné
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="coefficient">Coefficient</label>
                        <span class="text-danger">*</span>
                        <div class="input-group input-group-sm">
                            <input type="text" formControlName="coefficient" class="form-control"
                                placeholder="Coefficient">
                        </div>
                        <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.coefficient">
                            La valeur de ce champ doit être un entier
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="typeactive">Etat</label>
                        <span class="text-danger">*</span>
                        <ng-select formControlName="active" placeholder="Etat">
                            <ng-option *ngFor="let active of actives" [value]="active.id">{{active.value}}</ng-option>
                        </ng-select>
                        <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.active">
                            ce champ doit être renseigné
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="actCategory">Categorie de l'acte</label>
                        <span class="text-danger">*</span>
                        <ng-select formControlName="actCategory" placeholder="Categorie de l'acte">
                            <ng-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</ng-option>
                        </ng-select>
                        <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.actCategory">
                            ce champ doit être renseigné
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="actGroup">Famille de l'acte</label>
                        <span class="text-danger">*</span>
                        <ng-select formControlName="actGroup" placeholder="Famille de l'acte">
                            <ng-option *ngFor="let family of families" [value]="family.id">{{family.name}}</ng-option>
                        </ng-select>
                        <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.actGroup">
                            ce champ doit être renseigné
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="actCode">Code Acte</label>
                        <span class="text-danger">*</span>
                        <ng-select formControlName="actCode" placeholder="Code Acte">
                            <ng-option *ngFor="let actCode of actCodes" [value]="actCode.id" >{{actCode.name}}</ng-option>
                        </ng-select>
                        <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.actCode">
                            ce champ doit être renseigné
                        </span>
                    </div>
                </div>
            </div>
            <!-- hidden -->
            <input type="hidden" formControlName="id">
        </div>
    </div>
</form>