table {
    /* border: 1 px solid gray !important; */
    width: 100% !important;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: black;
    background-color: #dae0e6;
}