<form  *ngIf="listPermission">
    <div class="card">
        <div class="card-header">
            <div class="mr-auto p-2 col-md-4">
                <h3>Gestion des Permissions</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="accordion" id="accordionExample" *ngIf="createPermission">
                <div class="text-center">
                    <div  *ngIf="loading">
                        <div class="spinner-border text-info" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span class="text-muted ml-3 " *ngIf="loading">Loading...</span>
                    </div>
                 </div>
                <div class="card" *ngFor="let role of roles" >
                    <div class="card-header" id="{{role.id}}">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed text-bold text-capitalize" id="{{role.id}}" (click)="setPermission(role.id)"
                                type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + role.id" aria-expanded="false"
                               [attr.aria-controls]="'collapse' + role.id">
                                {{role.name}}
                            </button>
                        </h2>
                    </div>
                    <div id="{{'collapse' + role.id}}" class="collapse" aria-labelledby="{{role.id}}" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-lg-4 offset-8">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-12 text-nowrap">
                                            <button type="button" (click)="save()"
                                                class="btn btn-block btn-success btn-sm font-weight-bold">
                                                Enregistrer
                                            </button>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 text-nowrap">
                                            <button type="button" (click)="cancelAction(role.id)" class="btn btn-block btn-danger btn-sm font-weight-bold">
                                                Annuler
                                            </button>
                                        </div>
                
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-sm">
                                        <thead class="text-center">
                                            <th >Menu</th>
                                            <th>Action</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let menu of menus ">
                                                <td class=" text-capitalize align-middle text-bold"> {{ menu.name + ':' }} </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-3" *ngFor="let permission of menu.permissions">
                                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                                <input type="checkbox" class="custom-control-input" id="{{permission.id +'-'+ menu.id +'-'+ role.id}}" [attr.checked]="permissions.includes(permission.id)? true : null"  (click)='getPermission(permission.id)'>
                                                                <label class="custom-control-label" for="{{permission.id +'-'+ menu.id +'-'+ role.id}}">{{permission.name}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
         </div>
        </div>
    </div>
</form>
<app-autorisation-alert *ngIf="listPermission == false"></app-autorisation-alert>