<div class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success m-2" data-toggle="modal" data-target="#checkUp"
      (click)="atModalshow()"> 
      Demande de bilan
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <th>Date</th>
        <th>Bilan</th>
        <th>Medecin</th>
        <th>Centre Médical</th>
        <th>PDF</th>
      </thead>
      <tr *ngFor="let pc of patientCheckUps">
        <td>{{pc.date | date: 'dd/MM/yyyy hh:mm:ss'}} </td>
        <td>{{pc.checkUp.name}}</td>
        <td>{{pc.practician.firstName +" " + pc.practician.lastName}}</td>
        <td>{{pc.facility.name}}</td>
        <td><button class="btn btm-sm btn-light" style="width: 100%;" (click)="generateCheckUpPdf(pc)" data-toggle="modal" data-target="#checkUpPdf"><i class="fa fa-file-pdf text-danger" aria-hidden="true" size:3x></i></button>
        </td>
      </tr>
    </table>
    <div class="text-center mb-5 mt-4">
      <div *ngIf="loading" class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <span class="text-muted ml-3 " *ngIf="loading">Loading...</span>
      <div *ngIf="hasNoData" class="mt-3">
        <span class="text-muted ml-3 ">{{EmptyMessage}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 offset-md-5">
        <ngb-pagination [collectionSize]="totalItem" [pageSize]="perPage" [(page)]="page" [maxSize]="10"
          (pageChange)="onPageChange(page)" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>
  </div>
  <app-patient-tag [patient]="patient"></app-patient-tag>
<div class="modal fade" id="checkUpPdf" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="examLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      <div class="modal-body">
        <!-- ngx-extended-pdf-viewer -->
        <ngx-extended-pdf-viewer *ngIf='docSrc' [src]="docSrc" useBrowserLocale="true" height="80vh">
        </ngx-extended-pdf-viewer>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">fermer</button>
      </div>
    </div>
  </div>
</div>