<div class="card"  *ngIf="listUser">
    <div class="card-header">
        <div class="row pl-3 pr-3">
            <div class="col-md-7" *ngIf="searchUser">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="row pt-1 m-0 col-md-12">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <input type="text" formControlName="firstName" class="form-control"
                                            placeholder="Nom">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <input type="text" formControlName="lastName" class="form-control"
                                            placeholder="prenom">
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <ng-select formControlName="role" placeholder='Rôle' class="col-12">
                                        <ng-option *ngFor="let role of roles" [value]="role.id">{{role.name}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <input type="text" formControlName="phoneContact" class="form-control"
                                            placeholder="N° tel">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <ng-select formControlName="active" placeholder='actif' class="col-12">
                                            <ng-option *ngFor="let active of active" [value]="active.id">
                                                {{active.value}}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <ng-select formControlName="locked" placeholder="locked" class="col-12">
                                            <ng-option *ngFor="let locked of locked" [value]="locked.id">
                                                {{locked.value}}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12">
                                <span class="btn btn-light" (click)="search()" style="width: 100%;">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="py-1 col-lg-3 col-md-6 col-sm-12 " *ngIf="createUser">
                        <a routerLink="../add"
                            class="btn btn-block btn-success btn-sm font-weight-bold text-nowrap text-white">
                            <i class="fas fa-plus mr-2"></i>
                            Nouveau
                        </a>
                    </div>
                    <div class="py-1 col-lg-3 col-md-6 col-sm-12" *ngIf="updateUser">
                        <a routerLink="../update/{{selectedItemId}}"
                            class="btn btn-block btn-secondary btn-sm font-weight-bold text-nowrap text-white"
                            [ngClass]="{'disabled': !selectedItemId }">
                            <i class="fas fa-pen-alt mr-2"></i>
                            Modifier
                        </a>
                    </div>
                    <div class="py-1 col-lg-3 col-md-6 col-sm-12" *ngIf="enableUser">
                        <a (click)="enable()"
                            class="btn btn-block btn-primary btn-sm font-weight-bold text-nowrap text-white"
                            [ngClass]="{'disabled': !selectedItemId }">
                            <i class="fas fa-toggle-on mr-2"></i>
                            Activer
                        </a>
                    </div>
                    <div class="py-1 col-lg-3 col-md-6 col-sm-12" *ngIf="disableUser">
                        <a (click)="disable()"
                            class="btn btn-block btn-warning btn-sm font-weight-bold text-nowrap text-white"
                            [ngClass]="{'disabled': !selectedItemId }">
                            <i class="fas fa-toggle-off mr-2"></i>
                            Desactiver
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-10 text-center text-muted">
                <h4>liste des utilisateurs</h4>
            </div>
            <div class="col-md-2 text-right">
                <form [formGroup]="entryForm">
                    <div class="row">
                        <div for="entries" class="col-sm-12 text-right mt-1"> Afficher</div>
                        <div class="col-sm-12 mb-2">
                            <ng-select formControlName="entries" [searchable]="false" [clearable]="false"
                                (change)="OnEntryChange()">
                                <ng-option *ngFor="let entry of entries" [value]="entry.id">{{entry.value}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered ">
                <thead class="thead-light text-center">
                    <th scope="col"></th>
                    <th class="text-nowrap">ID<i class="fa fa-sort ml-2" (click)="onSort('id')"
                            ngbTooltip="trier par ordre {{orderDescription }}"></i></th>
                    <th class="text-nowrap" scope="col">Nom <i class="fa fa-sort ml-2" (click)="onSort('firstName')"
                            ngbTooltip="trier par ordre {{orderDescription }}"></i></th>
                    <th class="text-nowrap" scope="col">prenom <i class="fa fa-sort ml-2" (click)="onSort('lastName')"
                            ngbTooltip="trier par ordre {{orderDescription }}"></i>
                    </th>
                    <th class="text-nowrap" scope="col">Email</th>
                    <th class="text-nowrap" scope="col">N° telephone</th>
                    <th class="text-nowrap">Actif <i class="fa fa-sort ml-2" (click)="onSort('active')"
                            ngbTooltip="trier par ordre {{orderDescription }}"></i></th>
                    <th class="text-nowrap">Verouillé <i class="fa fa-sort ml-2" (click)="onSort('locked')"
                            ngbTooltip="trier par ordre {{orderDescription }}"></i></th>
                    <th class="text-nowrap" scope="col">Rôles</th>
                    <th class="text-nowrap">Dernière connexion</th>
                    <th class="text-nowrap" scope="col">crée le <i class="fa fa-sort ml-2" (click)="onSort('createdAt')"
                            ngbTooltip="trier par ordre {{orderDescription }}"></i>
                    </th>
                    <th class="text-nowrap" scope="col">crée par</th>
                    <th class="text-nowrap" scope="col">Dern. modif.</th>
                    <th class="text-nowrap" scope="col">Modifié par</th>
                    <!-- sessionLifeTime: 480 -->
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <th class="text-center" scope="row">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="{{user.login}}"
                                    name="radio-stacked" value="{{user.id}}" (change)="onItemChange(user)">
                                <label class="custom-control-label" for="{{user.login}}"></label>
                            </div>
                        </th>
                        <td class="text-center">{{user.id}}</td>
                        <td class="text-capitalize text-nowrap">{{user.firstName}}</td>
                        <td class="text-capitalize text-nowrap">{{user.lastName}}</td>
                        <td class="text-center text-capitalize text-nowrap">{{user.email}}</td>
                        <td class="text-center text-nowrap">{{user.phoneContact}}</td>
                        <td class="text-capitalize text-center">
                            <i class="fas fa-circle"
                                [ngClass]="{'text-green': user.active=='Y', 'text-red': user.active=='N'}"
                                ngbTooltip="{{user.active=='Y'? 'Actif' : 'Inactif'}}"></i>
                        </td>
                        <td class="text-capitalize text-center">
                            {{ (user.locked == 'Y') ? 'Oui' :'Non'}}
                        </td>
                        <td class="text-nowrap">{{user.roles}}</td>
                        <td class="text-center text-nowrap">{{user.lastLogin | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td class="text-center text-nowrap">{{user.createdAt | date:'dd/MM/yyyy'}}</td>
                        <td class="text-capitalize text-nowrap">{{user.createdByFirstName ? user.createdByFirstName +'
                            '+ user.createdByLastName : ''}}
                        </td>
                        <td class="text-center text-center text-nowrap">
                            {{user.updatedAt ? (user.updatedAt | date:'dd/MM/yyyy') : 'Jamais modifié'}}</td>
                        <td class="text-capitalize text-nowrap">
                            {{user.updatedByFirstName ? user.updatedByFirstName +' '+ user.updatedByLastName : ''}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center mb-5 mt-4">
            <div *ngIf="loading">
                <div class="spinner-border text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <span class="text-muted ml-3 " *ngIf="loading">Loading...</span>
            </div>
            <span class="text-muted ml-3 " *ngIf="hasNoData">Aucun élément correspondant au(x) critère(s) de
                recherche</span>
        </div>
        <div class="row">
            <div class="col-md-7 offset-md-5">
                <ngb-pagination [collectionSize]="totalItem" [pageSize]="perPage" [(page)]="page" [maxSize]="10"
                    (pageChange)="onPageChange(page)" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
<app-autorisation-alert *ngIf="listUser == false"></app-autorisation-alert>