<form [formGroup]="form" (ngSubmit)="save()">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="mr-auto p-2 col-md-6">
                    <h3>{{title}}</h3>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="py-1 col-lg-4  col-md-6 col-sm-12  text-nowrap">
                            <button type="submit" (click)="actionToDo('save')"
                                class="btn btn-block btn-success btn-sm font-weight-bold" value="save">
                                Enregistrer
                            </button>
                        </div>
                        <div class="py-1 col-lg-4  col-md-6 col-sm-12  text-nowrap" *ngIf='!practicianId'>
                            <button type="submit" (click)="actionToDo('save_and_new')"
                                class="btn btn-block btn-info btn-sm font-weight-bold" value="save_and_new">
                                Enreg. & nouveau
                            </button>
                        </div>
                        <div class="py-1 col-lg-4  col-md-6 col-sm-12  text-nowrap">
                            <span (click)="cancelAction()" class="btn btn-block btn-danger btn-sm font-weight-bold"
                                value="cancel">
                                Annuler
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p class="text-muted"> NB: les champs marqués d'un astérisque ( <span class="text-danger">*</span> ) sont
                obligatoire pour la validation du formulare</p>
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="user">Praticien</label>
                                <span class="text-red">*</span>
                                <ng-select formControlName="user" placeholder="Praticien">
                                    <ng-option *ngFor="let user of users" [value]="user.id">{{user.lastName + " "+
                                        user.firstName}}</ng-option>
                                </ng-select>
                                <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.user">
                                    ce champ doit être renseigné
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="service">Service</label>
                                <span class="text-red">*</span>
                                <ng-select formControlName="service" placeholder="Service">
                                    <ng-option *ngFor="let service of services" [value]="service.id">{{service.name}}
                                    </ng-option>
                                </ng-select>
                                <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.service">
                                    ce champ doit être renseigné
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="speciality">Spécialité</label>
                                <span class="text-red">*</span>
                                <ng-select formControlName="speciality" placeholder="Spécialité">
                                    <ng-option *ngFor="let speciality of specialities" [value]="speciality.id">
                                        {{speciality.name}}</ng-option>
                                </ng-select>
                                <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.speciality">
                                    ce champ doit être renseigné
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="practicianNumber">N° d'ordre</label>
                                <span class="text-danger">*</span>
                                <div class="input-group input-group-sm">
                                    <input type="text" formControlName="practicianNumber" class="form-control"
                                        placeholder="N° d'ordre">
                                </div>
                                <span class="text-danger"
                                    *ngIf="invalidFormControls && invalidFormControls.practicianNumber">
                                    ce champ doit être renseigné
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="typeactive">Etat</label>
                                <span class="text-red">*</span>
                                <ng-select formControlName="active">
                                    <ng-option *ngFor="let active of actives" [value]="active.id">{{active.value}}
                                    </ng-option>
                                </ng-select>
                                <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.active">
                                    ce champ doit être renseigné
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
                        <ngx-dropzone-label>Charger la signature</ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>
            </div>
            <img [src]="signature" alt="signature du praticien">
            <!-- hidden -->
            <input type="hidden" formControlName="id">
        </div>
    </div>
</form>