<div class="card">
    <div class="card-header">
        <div class="row" >
            <div class="col-lg-3">
                <h4 class="text-muted">Dossier patient</h4>
            </div>
            <!-- <div class="col-lg-5 text-center">
                <div class="text-capitalized"> <strong>{{patient.firstName+' '+patient.lastName}}</strong> - né(e) le
                    {{patient.birthDate | date : 'dd/MM/yyy'}}
                    14 ans
                </div>
                <div>tel: {{patient.contact1}} - {{patient.profession}} - {{patient.numberOfChildren }} enfants</div>
                <div>175cm, 71kg</div>
            </div>
            <div class="col-lg-4 text-center">
                <div><u>Correspondants</u></div>
                <div>
                    <div> {{patient.correspondant}}: {{patient.correspondantCellPhone}}</div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-antecedent-tab" data-toggle="pill" href="#v-pills-antecedent"
                        role="tab" aria-controls="v-pills-antecedent" aria-selected="true">Antecedents & traitements
                        <span class="badge badge-pill badge-warning">0</span></a>
                    <a class="nav-link" id="v-pills-new-consultation-tab" data-toggle="pill"
                        href="#v-pills-new-consultation" role="tab" aria-controls="v-pills-new-consultation"
                        aria-selected="false">Nouvelle consultation</a>
                    <a class="nav-link" id="v-pills-consultation-follow-up-tab" data-toggle="pill"
                        href="#v-pills-consultation-follow-up" role="tab" aria-controls="v-pills-consultation-follow-up"
                        aria-selected="false" >Consultations <span
                            class="badge badge-pill badge-warning">0</span></a>
                    <a class="nav-link" id="v-pills-constant-follow-up-tab" data-toggle="pill"
                        href="#v-pills-constant-follow-up" role="tab" aria-controls="v-pills-constant-follow-up"
                        aria-selected="false"> Suivie des constantes <span
                            class="badge badge-pill badge-warning">0</span></a>
                    <a class="nav-link" id="v-pills-exam-follow-up-tab" data-toggle="pill"
                        href="#v-pills-exam-follow-up" role="tab" aria-controls="v-pills-exam-follow-up"
                        aria-selected="false">Bilans & examens <span class="badge badge-pill badge-warning">0</span></a>
                    <a class="nav-link" id="v-pills-prescription-follow-up-tab" data-toggle="pill"
                        href="#v-pills-prescription-follow-up" role="tab" aria-controls="v-pills-prescription-follow-up"
                        aria-selected="false">Ordonances <span class="badge badge-pill badge-warning">0</span></a>
                    <a class="nav-link" id="v-pills-certificate-follow-up-tab" data-toggle="pill"
                        href="#v-pills-certificate-follow-up" role="tab" aria-controls="v-pills-certificate-follow-up"
                        aria-selected="false">Certificats médicaux <span
                            class="badge badge-pill badge-warning">0</span></a>
                    <a class="nav-link" id="v-pills-cro-tab" data-toggle="pill" href="#v-pills-cro" role="tab"
                        aria-controls="v-pills-cro" aria-selected="false">CRO<span
                            class="badge badge-pill badge-warning">0</span></a>
                            <a class="nav-link" id="v-pills-mail-tab" data-toggle="pill" href="#v-pills-mail" role="tab"
                        aria-controls="v-pills-mail" aria-selected="false">Courier<span
                            class="badge badge-pill badge-warning">0</span></a>
                    <a class="nav-link" id="v-pills-attachment-tab" data-toggle="pill" href="#v-pills-attachment"
                        role="tab" aria-controls="v-pills-attachment" aria-selected="false"> pièce joints <span
                            class="badge badge-pill badge-warning">0</span></a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-antecedent" role="tabpanel"
                        aria-labelledby="v-pills-antecedent-tab">
                        <app-antecedent [patientId]="patientId"></app-antecedent>
                    </div>
                    <div class="tab-pane fade" id="v-pills-new-consultation" role="tabpanel"
                        aria-labelledby="v-pills-new-consultation-tab">
                        <app-new-consultation [patientId]='patientId'  [admissionId]='admissionId' [startDate]='startDate'></app-new-consultation>
                    </div>
                    <div class="tab-pane fade" id="v-pills-consultation-follow-up" role="tabpanel"
                        aria-labelledby="v-pills-consultation-follow-up-tab">
                        <app-consultation-follow-up [patientId]="patientId" (activeTabEvent)="receiveActiveTab($event)"></app-consultation-follow-up>
                    </div>
                    <div class="tab-pane fade" id="v-pills-constant-follow-up" role="tabpanel"
                        aria-labelledby="v-pills-constant-follow-up-tab">
                        <app-constant-follow-up [patientId]="patientId"></app-constant-follow-up>
                    </div>
                    <div class="tab-pane fade" id="v-pills-exam-follow-up" role="tabpanel"
                        aria-labelledby="v-pills-exam-follow-up-tab">
                        <app-exam-follow-up [admissionId]='admissionId' [patientId]='patientId'></app-exam-follow-up>
                    </div>
                    <div class="tab-pane fade" id="v-pills-prescription-follow-up" role="tabpanel"
                        aria-labelledby="v-pills-prescription-follow-up-tab">
                        <app-prescription-follow-up [admissionId]='admissionId' [patientId]='patientId'></app-prescription-follow-up>
                    </div>
                    <div class="tab-pane fade" id="v-pills-certificate-follow-up" role="tabpanel"
                        aria-labelledby="v-pills-certificate-follow-up-tab">
                        <app-certificate-follow-up [patientId]='patientId'  [admissionId]='admissionId'></app-certificate-follow-up>
                    </div>
                    <div class="tab-pane fade" id="v-pills-cro" role="tabpanel" aria-labelledby="v-pills-cro-tab">
                        <app-cro-follow-up [patientId]='patientId'  [admissionId]='admissionId'></app-cro-follow-up>
                    </div>
                    <div class="tab-pane fade" id="v-pills-mail" role="tabpanel" aria-labelledby="v-pills-mail-tab">
                        <app-mail-follow-up [patientId]='patientId'  [admissionId]='admissionId'></app-mail-follow-up>
                    </div>
                    <div class="tab-pane fade" id="v-pills-attachment" role="tabpanel"
                        aria-labelledby="v-pills-attachment-tab">
                        <div class="float-right">
                            <!-- Button trigger modal -->
                            <input type="file">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
