<!-- Main Sidebar Container -->
<aside class="main-sidebar elevation-4 sidebar-light-info">
  <!-- Brand Logo -->
  <a routerLink="index3.html" class="brand-link">
    <img src="assets/img/AdminLTELogo.png" alt="GMHIS Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">GMHIS </span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/img/avatar.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a class="d-block text-capitalize">{{ userName}}</a>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item" > 
          <a routerLink="/home" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Page d'accueil
            </p>
          </a>
        </li>

        <span >
        <li class="nav-header">MODULE ACCUEIL</li>
       
        <li class="nav-item " >
          <a routerLink="/patient/list" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-user-friends"></i>
            <p>
              Patients
            </p>
          </a>
        </li>

        <li class="nav-item " >
          <a routerLink="/admission/list" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-person-booth"></i>
            <p>
              Admissions
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admission/invoice/list" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-cash-register"></i>
            <p>
              Caisse
            </p>
          </a>
        </li>
        <li class="nav-item" >
          <a routerLink="/waiting-room" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-chair"></i>
            <p>
              File d'attentes
            </p>
          </a>
        </li>
        <li class="nav-item" >
          <a routerLink="/scheduler" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-calendar-alt"></i>
            <p>
              Agenda des RDV
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/pharmacy/prescription-list" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-medkit"></i>
            <p>
              Pharmacie
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/laboratory/analysis-request" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-file-medical-alt"></i>
            <p>
              Laboratoire
            </p>
          </a>
        </li>
        <li class="nav-item" *ngIf="">
          <a routerLink="/statistic" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Etats
            </p>
          </a>
        </li>
        </span>

        <span >
        <li class="nav-header" >MODULE  HOSPITALISATION</li>
        <li class="nav-item">
          <a routerLink="/Hospitalisation" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-procedures"></i>
            <p>
              Hospitalisation
            </p>
          </a>
        </li>
        </span>

        <span >
        
        <li class="nav-header" >MODULE UTILISATEUR</li>

        <li class="nav-item" >
          <a routerLink="/user/list" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Utilisateurs
            </p>
          </a>
        </li>
        <li class="nav-item" >
          <a routerLink="/role/list" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Rôles
            </p>
          </a>
        </li>
        <li class="nav-item" >
          <a routerLink="/permission" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-users-cog"></i>
            <p>
              permissions
            </p>
          </a>
        </li>
      </span>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>