<div class="card-header" *ngIf="addPatientConstantComponent">
    <div class="row mb-3 ml-3">
        <div class="col-md-4">
            <h4 class="text-muted">{{title}}</h4>
        </div>
        <div class="col-md-6 offset-md-2 text-bold">
            <h5 class="text-bold"><span class="mr-2">Mlle Dabre Adjaratou,</span><span>PT-123456789</span> </h5>
        </div>
    </div>
</div>
<div class="card-body">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-info mb-3" data-toggle="modal" data-target="#staticBackdrop">
        Selectionnez des constantes
    </button>
<div class="row">
   
    <div class="col-md-9">
        <table class="table table-bordered">
            <thead>
                <th class="p-1">Constante</th>
                <th class="p-1">Valeure</th>
                <th class="p-1">Supprimer</th>
            </thead>
            <tbody>
                <tr *ngFor="let form_elem of selectedConstants; let i=index">
                    <ng-container [formGroup]="selectedConstantForm">
                      <td>{{form_elem}}:</td>
                        <td>
                            <span *ngIf="options[i].length !=0">
                                <ng-select formControlName="{{i}}" [multiple]="multipleSelection[i] == 'Y'"
                                    [items]="options[i]" bindLabel="value" bindValue="value" style="width: 100%;">
                                </ng-select>
                            </span>
                            <span *ngIf="options[i].length ==0">
                                <input type="text" formControlName="{{i}}" class="form-control">
                            </span>
                        </td>
                        <td class="text-center">
                            <div class="input-group-append" onclick="$(this).parents('.form-group').remove()"
                                (click)="onInputRemove(form_elem)">
                                <span class="input-group-text bg-danger">x</span>
                            </div>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <div class="form-group" *ngIf="selectedConstants" [formGroup]="observationForm">
            <label for="observation">Observation</label>
            <textarea class="form-control" formControlName="observation" id="observation" rows="3"></textarea>
        </div>
    </div>
</div>

    
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Selectionnez des constantes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="form">
                        <div class="mb-3">
                            <div class="row">
                                <!-- <div class="col-md-8"> -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <label for="date" class="mr-1">Date : </label>
                                            <input class="form-control" placeholder="jj-mm-AAAA" formControlName="date"
                                                ngbDatepicker #d="ngbDatepicker">
                                            <div class="input-group-append">
                                                <span class="input-group-text" (click)="d.toggle()">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <span class="text-danger"
                                                *ngIf="invalidFormControls && invalidFormControls.date">ce
                                                champ doit être renseigné
                                            </span>
                                        </div>

                                    </div>
                                    <div class="col-md-4" style="margin-top: -2.5rem;">
                                        <ngb-timepicker [seconds]="seconds" formControlName="time"></ngb-timepicker>
                                    </div>
                                    <div class="col-md-4">
                                        <ng-select formControlName="domain" placeholder="Selectionnez un groupe"
                                            (change)="onDomainChange()">
                                            <ng-option *ngFor="let domain of constantDomains" [value]="domain.id">
                                                {{domain.name}}
                                            </ng-option>
                                        </ng-select>
                                        <span class="text-danger"
                                            *ngIf="invalidFormControls && invalidFormControls.domain">ce
                                            champ doit être renseigné
                                        </span>
                                    </div>
                                </div>
                                <!-- <div class="row"> -->
                                <div class="col-md-10">
                                    <ng-select [multiple]="true" (remove)="onRemove()" formControlName="constants"
                                        placeholder="Selectionnez des constances">
                                        <ng-option *ngFor="let constant of constantTypes" [value]="constant.name"
                                            [disabled]="constant.disabled">{{constant.name}}</ng-option>
                                    </ng-select>
                                    <span class="text-danger"
                                        *ngIf="invalidFormControls && invalidFormControls.constants">ce
                                        champ doit être renseigné
                                    </span>
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-primary px-4 text-white" (click)="createInputs()"
                                        [ngClass]="{'disabled': !constantTypes }" data-dismiss="modal">Valider</a>
                                </div>
                                <!-- </div> -->
                                <!-- </div> -->

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" *ngIf="selectedConstants">
        <a class="btn btn-success m-2 text-white" 
            (click)="save()">Enregistrer</a>
    </div>
</div>