<div class="content-wrapper">
    <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="mr-auto p-2 col-md-4">
                <h3>Nouvelle facture</h3> 
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="py-1 col-sm-3"><button  class="btn btn-block btn-success btn-sm font-weight-bold" value="save">Valider </button></div>
                    <div class="py-1 col-sm-3"><button  class="btn btn-block btn-danger btn-sm font-weight-bold" value="cancel">Annuler </button></div>
                </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="patientExternalId">Numero Patient</label>
                        <div class="input-group input-group-sm">
                            <input type="text" formControlName="patientExternalId" class="form-control" disabled="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="patientName">Nom du Patient</label>
                        <div class="input-group input-group-sm">
                            <input type="text" formControlName="patientName" class="form-control" disabled="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="admissionDate">Date Fature:</label>
                        <div class="input-group  input-group-sm">
                            <input type="text" formControlName="admissionDate" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group-sm">
                            <label for="service">Service</label>
                            <select class="form-control select2" formControlName="service" style="width: 100%;">
                                <option selected="selected">Service</option>
                                <option value="1">Medecine generale</option>
                                <option value="2">Gyneco</option>
                                <option value="3">Ophtamologie</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group-sm">
                            <label for="actAdmission">Acte d'admission</label>
                            <select class="form-control select2" formControlName="actAdmission" style="width: 100%;">
                                <option selected="selected">--choisir--</option>
                                <option value="1">Consultation generale</option>
                                <option value="2">Urgence</option>
                                <option value="3">Consultation pre-natale</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group-sm">
                            <label for="doctor">Medecin</label>
                            <select class="form-control select2" formControlName="doctor" style="width: 100%;">
                                <option selected="selected">--choisir--</option>
                                <option value="1">Dabre Adjaratou</option>
                                <option value="2">Komena Pascal</option>
                                <option value="3">Bamba Souleymane</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Acte a facturer (pharmaci, laboratoire, acte medicale)
Assurance
etablissement garant
taux de converture
taux consommable
type de patient (comptant, assuré, forfait)
edition courtier
edition adherant
deja reglé
n° compte comptable
n° PEC
Date PEC
calcul (part pec, part adherant, remise, total) -->
</div>