<form [formGroup]="form" (ngSubmit)="save()" *ngIf="createRole">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="mr-auto p-2 col-md-4">
                    <h3>{{title}}</h3>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="mt-3 col-lg-3 col-md-6 col-sm-12 offset-lg-3 text-nowrap">
                            <button (click)="actionToDo('save')"
                                class="btn btn-block btn-success btn-sm font-weight-bold">
                                <span *ngIf="!roleId">Enregistrer</span>
                                <span *ngIf="roleId">Modifier</span>
                            </button>
                        </div>
                        <div class="mt-3 col-lg-3 col-md-6 col-sm-12 text-nowrap" *ngIf="!roleId">
                            <button (click)="actionToDo('save_and_new')"
                                class="btn btn-block btn-info btn-sm font-weight-bold">
                                Enreg. & nouveau
                            </button>
                        </div>
                        <div class="mt-3 col-lg-3 col-md-6 col-sm-12 text-nowrap">
                            <span (click)="cancelAction()" class="btn btn-block btn-danger btn-sm font-weight-bold">
                                Annuler
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- / .card-header -->
        <div class="card-body">
            <p class="text-muted"> NB: les champs marqués d'un astérisque ( <span class="text-danger">*</span> ) sont
                obligatoire pour la validation de la fiche</p>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Role</label>
                        <span class="text-danger">*</span>
                        <div class="input-group input-group-sm">
                            <input type="text" formControlName="name" class="form-control"
                                placeholder="libellé du rôle">
                        </div>
                        <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.name">
                            ce champ doit être renseigné
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group-sm">
                            <label for="active">Status</label>
                            <ng-select formControlName="active">
                                <ng-option *ngFor="let active of actives" [value]="active.id">
                                    {{active.value}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="descrition">Description du role </label>
                    <textarea class="form-control" formControlName="description" rows="3"
                        placeholder="Description du rôle"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>
<app-autorisation-alert *ngIf="createRole == false"></app-autorisation-alert>