<div class="card">
    <div class="card-header">
        <div class="row pl-3 pr-3">
            <div class="col-md-7">
                <form [formGroup]="form">
                    <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <input type="text" formControlName="name" class="form-control"
                                            placeholder="Famille">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <ng-select formControlName="active" placeholder=" Etat " style="width: 100%;">
                                            <ng-option *ngFor="let active of actives" [value]="active.id">
                                                {{active.value}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="px-2 col-lg-2 col-md-2 col-sm-12 mb-1">
                                <span class="btn btn-light btn-sm" (click)="search()" style="width: 100%;">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5">
                <div>
                    <div class="row">
                        <div class="py-1 col-lg-3 col-md-6 col-sm-12">
                            <a routerLink="/act/add-family"
                                class="btn btn-block btn-success btn-sm font-weight-bold text-nowrap text-white">
                                <i class="fas fa-list mr-2"></i>
                                Nouveau
                            </a>
                        </div>
                        <div class="py-1 col-lg-3 col-md-6 col-sm-12">
                            <a routerLink="/act/update-family/{{selectedItem}}"
                                class="btn btn-block btn-secondary btn-sm font-weight-bold text-nowrap text-white"
                                [ngClass]="{'disabled': !selectedItem }">
                                <i class="fas fa-pen-alt mr-2"></i>
                                Modifier
                            </a>
                        </div>
                        <div class="py-1 col-lg-3 col-md-6 col-sm-12">
                            <a (click)="enable()"
                                class="btn btn-block btn-primary btn-sm font-weight-bold text-nowrap text-white"
                                [ngClass]="{'disabled': !selectedItem }">
                                <i class="fas fa-toggle-on mr-2"></i>
                                Activer
                            </a>
                        </div>
                        <div class="py-1 col-lg-3 col-md-6 col-sm-12">
                            <a (click)="disable()"
                                class="btn btn-block btn-warning btn-sm font-weight-bold text-nowrap text-white"
                                [ngClass]="{'disabled': !selectedItem }">
                                <i class="fas fa-toggle-off mr-2"></i>
                                Desactiver
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-10 text-center text-muted">
                <h4>{{title}}</h4>
            </div>
            <div class="col-md-2 text-right">
                <form [formGroup]="entryForm">
                     <div class="row">
                        <div for="entries" class="col-sm-12 text-right mt-1"> Afficher</div>
                        <div class="col-sm-12 mb-2">
                            <ng-select formControlName="entries" [searchable]="false" [clearable]="false"
                                (change)="OnEntryChange()">
                                <ng-option *ngFor="let entry of entries" [value]="entry.id">{{entry.value}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered ">
                <thead class="thead-light text-center">
                    <tr>
                        <th scope="col"></th>
                        <th>ID</th>
                        <th scope="col">Famille d'actes<i class="fa fa-sort ml-2" (click)="onSort('name')"
                                ngbTooltip="trier par ordre {{orderDescription }}"></i></th>
                        <th scope="col">Etat <i class="fa fa-sort ml-2" (click)="onSort('active')"
                                ngbTooltip="trier par ordre {{orderDescription }}"></i></th>
                        <th scope="col">crée le </th>
                        <th scope="col">crée par</th>
                        <th scope="col">Dernière modif.</th>
                        <th scope="col">Modifié par</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let family of actFamilies">
                        <th class="text-center" scope="row">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="{{family.id}}"
                                    name="radio-stacked" value="{{family.id}}"
                                    (change)="onItemChange($event.target.value)">
                                <label class="custom-control-label" for="{{family.id}}"></label>
                            </div>
                        </th> 
                       <td>{{family.id}}</td>
                        <td class="text-capitalize">{{family.name}}</td>
                        <td class="text-capitalize text-center">
                            <i class="fas fa-circle"
                                [ngClass]="{'text-green': family.active=='Y', 'text-red': family.active=='N'}"
                                ngbTooltip="{{family.active=='Y'? 'Actif' : 'Inactif'}}"></i>
                        </td>
                        <td class="text-center">{{family.createdAt | date:'dd/MM/yyyy H:mm:ss'}}</td>
                        <td class="text-capitalize text-nowrap">{{family.createdByFirstName +' '+ family.createdByLastName}}</td>
                        <td class="text-center text-center text-nowrap">{{family.updatedAt ? (family.updatedAt | date:'dd/MM/yyyy H:mm:ss') : 'Jamais modifié'}}</td>
                        <td class="text-capitalize text-nowrap">{{family.UpdatedByFirstName ? family.UpdatedByFirstName +' '+ family.UpdatedByLastName : ''}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center mb-5 mt-4">
            <div *ngIf="loading" class="spinner-border text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span class="text-muted ml-3 " *ngIf="loading">Loading...</span>
            <div *ngIf="hasNoData" class="mt-3">
                <span class="text-muted ml-3 " >{{EmptyMessage}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 offset-md-5">
                <ngb-pagination [collectionSize]="totalItem" [pageSize]="perPage" [(page)]="page" [maxSize]="10"
                    (pageChange)="onPageChange(page)" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
            </div>

        </div>
    </div>
</div>