<form [formGroup]='form' (submit)='save()'>
    <div class="row">
        <div class="row col-md-9">
            <div class="form-group">
                
                <div class="input-group input-group-sm">
                    <label for="date">Date : &nbsp;</label>
                    <input type="text" formControlName="date"
                        class="form-control" disabled>
                </div>
            </div>
            <div class="row input-group-sm col-md-7">
                <div class="col-md-5 float-right"><label for="examinationType" >Type de consult. <span class="text-danger">*</span> :</label></div>
                <div class="col-md-7">
                <ng-select formControlName="examinationType" >
                    <ng-option *ngFor="let type of consultationTypes" [value]="type.id"> {{type.value}}
                    </ng-option>
                </ng-select>
                <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.examinationType">
                    ce champ doit être renseigné
                </span>
            </div>
            </div>
            
        </div>

        <div class=" row col-md-3">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success">Valider</button>
            </div>
            <!-- <div class="col-md-6">
                <button type="button" class="btn btn-danger">Annuler</button>
            </div> -->
        </div>
    </div>
   <hr>

    <div class="row">
        <div class="col-md-6">
            <label for="reason">
                <h6 class="text-bold">
                    <u>Motif de la consultation</u>
                    <span class="text-danger">*</span>
                </h6>
            </label>
            <div class="form-group">
                <textarea class="form-control" formControlName="examinationReasons" rows="4"
                    placeholder="Motif de la consultation"></textarea>
            </div>
            <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.examinationReasons">
                ce champ doit être renseigné
            </span>

            <div class="row input-group-sm mb-4">
                <label for="symptoms" >
                    <h6 class="text-bold mb-2"><u>Choix de symptômes</u></h6></label>
                <ng-select formControlName="symptoms" style="width: 100%" [multiple]="true">
                    <ng-option *ngFor="let symptom of symptoms" [value]="symptom.id" > {{symptom.name}}
                    </ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-md-6">
            <label for="history">
                <h6 class="text-bold">
                    <u>Histoire de la maladie</u>
                    <span class="text-danger">*</span>
                </h6>
            </label>
            <div class="form-group">
                <textarea class="form-control" formControlName="history" rows="8"
                    placeholder="Histoire de la maladie"></textarea>
            </div>
            <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.history">
                ce champ doit être renseigné
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="conclusion">
                <h6 class="text-bold">
                    <u>Conclusion de l'Interrogatoire</u>
                    <span class="text-danger">*</span>
                </h6>
            </label>
            <div class="form-group">
                <textarea class="form-control mt-3" formControlName="conclusion" rows="8"
                    placeholder="Conclusion l'Interrogatoire"></textarea>
            </div>
            <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.conclusion">
                ce champ doit être renseigné
            </span>
        </div>
        <div class="col-md-6">
            <div class="row input-group-sm">
                <label for="pathologies" class="mb-4">
                    <h6 class="text-bold mb-2"><u>Choix de pathologies</u></h6></label>
                <ng-select formControlName="pathologies" style="width: 100%" [multiple]="true">
                    <ng-option *ngFor="let pathology of pathologies" [value]="pathology.id" > {{pathology.name}}
                    </ng-option>
                </ng-select>
            </div>

             <label for="conclusion" class="mt-2">
                <h6 class="text-bold"><u>Interpretation des résultat d'Examens</u>
            </h6>
            </label>
            <div class="form-group">
                <textarea class="form-control" formControlName="conclusionExamResult" rows="5"
                    placeholder="Interpretation des résultat d'Examens"></textarea>
            </div>
        </div>
    </div>

</form>