<form [formGroup]="form" (ngSubmit)="save()">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="mr-auto p-2 col-md-4">
                    <h3>{{title}}</h3>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="py-1 col-lg-3  col-md-6 col-sm-12  text-nowrap">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-block btn-secondary btn-sm font-weight-bold"
                                data-toggle="modal" data-target="#staticBackdrop" (click)="preview()">
                                Previsualiser
                            </button>
                        </div>
                        <div class="py-1 col-lg-3  col-md-6 col-sm-12  text-nowrap">
                            <button type="submit" (click)="actionToDo('save')"
                                class="btn btn-block btn-success btn-sm font-weight-bold" value="save">
                                Enregistrer
                            </button>
                        </div>
                        <div class="py-1 col-lg-3  col-md-6 col-sm-12  text-nowrap">
                            <span (click)="cancelAction()" class="btn btn-block btn-danger btn-sm font-weight-bold"
                                value="cancel">
                                Annuler
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-prescription-tab" data-toggle="pill" href="#pills-prescription"
                        role="tab" aria-controls="pills-prescription" aria-selected="true">Ordonance</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-drugs-tab" data-toggle="pill" href="#pills-drugs" role="tab"
                        aria-controls="pills-drugs" aria-selected="false">Medicaments de l'ordonnance</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-prescription" role="tabpanel"
                    aria-labelledby="pills-prescription-tab">
                    <p class="text-muted"> NB: les champs marqués d'un astérisque ( <span class="text-danger">*</span> )
                        sont
                        obligatoire pour la validation du formulare</p>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label for="name">Ordonnance</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" formControlName="name" class="form-control"
                                        placeholder="Ordonnance">
                                </div>
                                <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.name">
                                    ce champ doit être renseigné
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <div class="form-group">
                                <label for="typeactive">Etat</label>
                                <span class="text-red">*</span>
                                <ng-select formControlName="active" placeholder="Etat">
                                    <ng-option *ngFor="let active of actives" [value]="active.id">{{active.value}}
                                    </ng-option>
                                </ng-select>
                                <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.active">
                                    ce champ doit être renseigné
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-drugs" role="tabpanel" aria-labelledby="pills-drugs-tab">
                        <app-prescribing-medication [drugFormGroup]="drugFormGroup"></app-prescribing-medication>
                </div>
            </div>
            <!-- hidden -->
            <input type="hidden" formControlName="id">
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>
                    <div class="my-5 text-center"><u><b>Ordonance médical</b></u></div>
                </h4>
                <div>
                    <ol *ngIf="drugFormGroup">
                        <li *ngFor="let item of drugFormGroup.value; let index = index;" class="mb-3" >
                            <div class="text-capitalize ">
                                <span class="text-bold">{{ item.drug}} </span>
                                <span>{{ item.qty ? "- " + item.qty : item.qty}}</span>
                                <span>{{ item.duration ? " / " + item.duration : item.duration}}</span>
                            </div>
                            <div class="text-capitalize">{{ item.dosage}}</div>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

