<form [formGroup]="form" (ngSubmit)="save()">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="mr-auto p-2 col-md-6">
                    <h3>{{title}}</h3>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="py-1 col-lg-4 col-md-6 col-sm-12 text-nowrap" *ngIf="!isBilled">
                            <button (click)="actionToDo('save')"
                                class="btn btn-block btn-success btn-sm font-weight-bold" value="save">
                                Enregistrer
                            </button>
                        </div>
                        <div class="py-1 col-lg-4 col-md-6 col-sm-12 text-nowrap">
                            <span (click)="cancelAction()" class="btn btn-block btn-danger btn-sm font-weight-bold"
                                value="cancel">
                                Annuler
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p class="text-muted"> NB: les champs marqués d'un astérisque ( <span class="text-danger">*</span> ) sont
                obligatoire pour la validation du formulare</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="patientExternalId">Numero Patient</label>
                        <div class="input-group input-group-sm">
                            <input type="text" formControlName="patientExternalId" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Nom du Patient</label>
                        <div class="input-group input-group-sm ">
                            <input type="text" formControlName="name" class="form-control text-capitalize">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class=" col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="date">Date d'admission:</label>
                                <span class="text-danger">*</span>
                                <div class="input-group  input-group-sm">
                                    <input class="form-control" placeholder="jj-mm-AAAA" formControlName="date"
                                        ngbDatepicker #d="ngbDatepicker">
                                    <div class="input-group-append">
                                        <span class="input-group-text" (click)="d.toggle()">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="text-danger"
                                    *ngIf="invalidFormControls && invalidFormControls.date">
                                    ce champ doit renseigné au format jj/mm/aaaa
                                </span>
                            </div>
                        </div>
                        <div class=" col-lg-6 col-md-12" style="margin-top: -0.70rem;">
                            <ngb-timepicker [seconds]="seconds" formControlName="time"></ngb-timepicker>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: -1.35rem;">
                        <div class="input-group-sm">
                            <label for="service">Service</label>
                            <span class="text-danger">*</span>
                            <ng-select formControlName="service" (change)="onServiceChange($event)">
                                <ng-option *ngFor="let service of services" [value]="service.id">{{service.name}}
                                </ng-option>
                            </ng-select>
                            <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.service">ce
                                champ doit être renseigné
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group-sm">
                            <label for="admissionAct">Acte d'admission</label>
                            <span class="text-danger">*</span>
                            <ng-select formControlName="act">
                                <ng-option *ngFor="let act of acts" [value]="act.id">{{act.name}}</ng-option>
                            </ng-select>
                            <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.act">
                                ce champ doit être renseigné
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group-sm">
                            <label for="practician">Medecin</label>
                            <span class="text-danger">*</span>
                            <ng-select formControlName="practician">
                                <ng-option *ngFor="let practician of practicians" [value]="practician.userId">{{practician.userFirstName + ' ' + practician.userLastName}}
                                </ng-option>
                            </ng-select>
                            <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.practician">
                                ce champ doit être renseigné
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- hidden -->
            <input type="hidden" formControlName="patient">
            <input type="hidden" formControlName="id">
        </div>
    </div>
</form>