<div class="card card-primary m-3">
    <div class="card-body p-0">
        <!-- THE CALENDAR -->
        <div id="calendar">
            <div class="row mt-3">
                <div class="col-md-8 input-group-sm">
                    <div class="row">
                        <div class="col-md-4">
                            <ng-select placeholder="Service">
                                <ng-option *ngFor="let service of services" [value]="service.id">{{service.name}}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="col-md-4">
                            <ng-select placeholder="Spécialité">
                                <ng-option *ngFor="let speciality of specialities" [value]="speciality.id">{{speciality.name}}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="col-md-4">
                            <ng-select placeholder="Praticien">
                                <ng-option *ngFor="let practician of practicians" [value]="practician.id">{{practician.name +' '+ practician.prenom}}
                                </ng-option>
                            </ng-select>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-3">
                    <h3 class="text-bold ml-5">
                        <span class="mr-2">{{currentDayName}}</span>
                        <span class="mr-2">{{currentDayNumber}}</span>
                        <span class="mr-2">{{currentMonthName}}</span>
                        <span class="mr-2">{{currentYear}}</span>
                    </h3>
                </div>
                <div class="col-md-1 text-right">
                    <!-- <span class="badge bg-secondary px-4 pt-2 pb-3 mr-2 text-md circle"><i class="fa fa-question"></i></span> -->
                    <div class="btn-group">
                        <div class="form-group hidden">
                            <div class="input-group">
                              <input name="datepicker"
                                     class="form-control "
                                     ngbDatepicker
                                     #datepicker="ngbDatepicker"
                                     [autoClose]="'outside'"
                                     (dateSelect)="onDateSelection($event)"
                                     [displayMonths]="2"
                                     [dayTemplate]="t"
                                     outsideDays="hidden"
                                     [startDate]="fromDate!"
                                     tabindex="-1">
                              <ng-template #t let-date let-focused="focused">
                                <span class="custom-day"
                                      [class.focused]="focused"
                                      [class.range]="isRange(date)"
                                      [class.faded]="isHovered(date) || isInside(date)"
                                      (mouseenter)="hoveredDate = date"
                                      (mouseleave)="hoveredDate = null">
                                  {{ date.day }}
                                </span>
                              </ng-template>
                            </div>
                          </div>
                        <button type="button" class="btn btn-primary px-3" (click)="datepicker.toggle()" >Caledrier</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="">
                    <table class="table table-bordered">
                        <thead class="text-center">
                            <th class="col-1" data-toggle="modal" data-target="#help" >Help?</th>
                            <th class="col-1" *ngFor="let day of selectedWeekDays; let index=index;">{{day  +' '+ selectedWeekDayDates[index] }}</th>
                        </thead>
                    </table>
                    <div *ngFor="let hour of schedulerRange; let i = index">
                        <table class="table table-bordered">
                            <tr>
                                <td class="col-1 text-center text-bold">{{hour}}h00</td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"><div class="text-center text-bold rounded appointment "><span  class="badge bg-green" data-original-title="">&nbsp;&nbsp;&nbsp;&nbsp;</span> 7h00<br> Mme toure adjaratou - consultation</div></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                            </tr>
                            <tr>
                                <td class="col-1 text-center text-muted">{{hour}}h15</td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                            </tr>
                            <tr>
                                <td class="col-1 text-center text-muted">{{hour}}h30</td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                            </tr>
                            <tr>
                                <td class="col-1 text-center text-muted">{{hour}}h45</td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                                <td class="col-1" data-toggle="modal" data-target="#staticBackdrop"></td>
                            </tr>
    
                        </table>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>

  
  <!-- Appointment Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Fixer un RDV</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-patient-list [component]='component'></app-patient-list>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Legend Modal -->
   <div class="modal fade" id="help" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="helpLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="helpLabel">Legende</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul>
                <li><span  class="badge bg-warning mr-3" data-original-title="">&nbsp;&nbsp;&nbsp;&nbsp;</span>RDV en attente</li>
                <li><span  class="badge bg-green mr-3" data-original-title="">&nbsp;&nbsp;&nbsp;&nbsp;</span>Patient reçu</li>
                <li><span  class="badge bg-danger mr-3" data-original-title="">&nbsp;&nbsp;&nbsp;&nbsp;</span>RDV manqué</li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>