/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

/********************* select2 **************************/
.select2-selection__choice{
    background-color: #17a2b8 !important;
}
.select2-selection__choice__remove{
    color: white !important;
}

.ng-select .ng-select-container{
  min-height: 31px !important;
}

.ng-select.ng-select-single .ng-select-container {
  height: 31px !important;
}

/**************************** pagination *********************/
.page-item.active .page-link{
    background-color: gainsboro !important;
    border-color: gainsboro !important;
    color: black !important;
}

.page-link{
    color: black !important;
}

label:not(.form-check-label):not(.custom-file-label){
    font-weight: 500 !important;
}

button{
    font-size: 14px !important;
}

 /******************************* custom input style ***************************/
 .custom-input-group-sm{
  height: 36px !important;

}

label{
    margin-bottom: 0.3rem !important;
}

.content-wrapper{
    background-color: white !important;
}

/************************************  Date range picker  *********************/
.form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
  }
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }

  /********************* CKEditor *************************/
.ck-editor__editable_inline {
    min-height: 300px;
}