    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Tableau de bord - {{todayDate | date:'dd/MM/yyy'}}</h1>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>10</h3>
  
                  <p>Rendez-vous</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>53</h3>
  
                  <p>Admissions</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>20</h3>
  
                  <p>Patients en salle d'attente</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>43</h3>
                  <p>Patients Reçus</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
          </div>
          <div class="row">
            <div class="col-md-6">
          <div class="card ">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-calendar mr-1"></i>
                Calendrier
              </h3>
            </div>
              <div class="card-body pl-5">
                <ngb-datepicker [displayMonths]="displayMonths" [navigation]="navigation"
                [showWeekNumbers]="showWeekNumbers" [outsideDays]="outsideDays">
              </ngb-datepicker>
            </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card ">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-cog mr-1"></i>
                  Autre chiffres
                </h3>
              </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="">
                        <div class="info-box">
                          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-file-invoice-dollar"></i></span>
            
                          <div class="info-box-content">
                            <span class="info-box-text">Admission en attente <br> de facturation</span>
                            <span class="info-box-number">
                              3
                            </span>
                          </div>
                          <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                      </div>
                      <div class="">
                        <div class="info-box">
                          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cash-register"></i></span>
            
                          <div class="info-box-content">
                            <span class="info-box-text">Facture en attente <br> de paiement</span>
                            <span class="info-box-number">
                              2
                            </span>
                          </div>
                          <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                      </div>
                      <div class="">
                        <div class="info-box">
                          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user-friends"></i></span>
            
                          <div class="info-box-content">
                            <span class="info-box-text">Nombre d'utilisateurs <br> actifs</span>
                            <span class="info-box-number">
                              10
                            </span>
                          </div>
                          <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="">
                        <div class="info-box">
                          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-folder"></i></span>
            
                          <div class="info-box-content">
                            <span class="info-box-text">Dossiers ouverts</span>
                            <span class="info-box-number">
                              6
                            </span>
                          </div>
                          <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                      </div>
                      <div class="">
                        <div class="info-box">
                          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
            
                          <div class="info-box-content">
                            <span class="info-box-text"></span>
                            <span class="info-box-number">
                              10
                            </span>
                          </div>
                          <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                      </div>
                      <div class="">
                        <div class="info-box">
                          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
            
                          <div class="info-box-content">
                            <span class="info-box-text"></span>
                            <span class="info-box-number">
                              10
                            </span>
                          </div>
                          <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                      </div>
                    </div>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <!-- Main row -->
         
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>

      