<form [formGroup]="form" (ngSubmit)="save()">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="mr-auto p-2 col-md-4">
                    <h3>{{title}}</h3>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="mt-3 col-lg-3 col-md-6 col-sm-12 text-nowrap">
                            <button (click)="actionToDo('save')"
                                class="btn btn-block btn-success btn-sm font-weight-bold">
                                Enregistrer
                            </button>
                        </div>
                        <div class="mt-3 col-lg-3 col-md-6 col-sm-12 text-nowrap" *ngIf = "!id">
                            <button (click)="actionToDo('save_and_new')"
                                class="btn btn-block btn-info btn-sm font-weight-bold">
                                Enreg. & nouveau
                            </button>
                        </div>
                        <div class="mt-3 col-lg-3 col-md-6 col-sm-12 text-nowrap">
                            <button (click)="actionToDo('save_and_admission')"
                                class="btn btn-block btn-secondary btn-sm font-weight-bold">
                                Enreg & Admission
                            </button>
                        </div>
                        <div class="mt-3 col-lg-3 col-md-6 col-sm-12 text-nowrap">
                            <span (click)="cancelAction()" class="btn btn-block btn-danger btn-sm font-weight-bold">
                                Annuler
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- / .card-header -->
        <div class="card-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-bold active" id="pills-patient-information-tab" data-toggle="pill"
                        href="#pills-patient-information" role="tab" aria-controls="pills-patient-information"
                        aria-selected="true">Informations du patient</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-bold" id="pills-patient-insurances-tab" data-toggle="pill"
                        href="#pills-patient-insurances" role="tab" aria-controls="pills-patient-insurances"
                        aria-selected="false">Assurances</a>
                </li>
            </ul>
            <hr>
            <div class="tab-content" id="pills-tabContent">
               
                            <!-- demographic information tab -->
                <!-- ------------------------------------------------------------------------------------ -->
                <div class="tab-pane fade show active" id="pills-patient-information" role="tabpanel"
                    aria-labelledby="pills-patient-information-tab">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="text-muted"> NB: les champs marqués d'un astérisque ( <span
                                    class="text-danger">*</span> ) sont
                                obligatoire pour la validation de la fiche</p>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="firstName">N° patient</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" formControlName="patientExternalId" class="form-control"
                                        >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="firstName">Nom</label>
                                        <span class="text-danger">*</span>
                                        <div class="input-group input-group-sm">
                                            <input type="text" formControlName="firstName" class="form-control"
                                                placeholder="Nom du patient">
                                        </div>
                                        <span class="text-danger"
                                            *ngIf="invalidFormControls && invalidFormControls.firstName">ce champ
                                            doit être renseigné
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="maidenName">Nom de jeune fille</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" formControlName="maidenName" class="form-control"
                                                placeholder="Nom de jeune fille">
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastName">Prenom</label>
                                <span class="text-danger">*</span>
                                <div class="input-group input-group-sm">
                                    <input type="text" formControlName="lastName" class="form-control"
                                        placeholder="prenom du patient">
                                </div>
                                <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.lastName">ce
                                    champ
                                    doit être renseigné
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="birthDate">Date de naissance:</label>
                                        <span class="text-danger">*</span>
                                        <div class="input-group  input-group-sm">
                                            <input class="form-control" placeholder="dd-mm-AAAA"
                                                formControlName="birthDate" ngbDatepicker #d="ngbDatepicker">
                                            <div class="input-group-append">
                                                <span class="input-group-text" (click)="d.toggle()">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <span class="text-danger"
                                            *ngIf="invalidFormControls && invalidFormControls.birthDate">
                                            ce champ doit renseigné au format jj/mm/aaaa ou jj-mm-aaaa
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="age">Age</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" formControlName="age" class="form-control"
                                                value="{{calculAge()}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="gender">sexe</label>
                                        <span class="text-danger">*</span>
                                        <ng-select formControlName="gender" placeholder="Sexe">
                                            <ng-option *ngFor="let gender of gender" [value]="gender.id">
                                                {{gender.value}}</ng-option>
                                        </ng-select>
                                        <span class="text-danger"
                                            *ngIf="invalidFormControls && invalidFormControls.gender">
                                            ce champ doit être renseigné
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for=civility>Civilité</label>
                                        <span class="text-danger">*</span>
                                        <ng-select formControlName="civility" placeholder="Civilité">
                                            <ng-option *ngFor="let civility of civilities" [value]="civility.id">
                                                {{civility.value}}</ng-option>
                                        </ng-select>
                                        <span class="text-danger"
                                            *ngIf="invalidFormControls && invalidFormControls.civility">
                                            ce champ doit être renseigné
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="numberOfChildren">Nb enf.</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" formControlName="numberOfChildren" class="form-control">
                                        </div>
                                        <span class="text-danger"
                                            *ngIf="invalidFormControls && invalidFormControls.numberOfChildren">
                                            le nombre d'enfant doit etre un entier avec au maximum 2 digit
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label for="profession">Profession</label>
                                        <span class="text-danger">*</span>
                                        <div class="input-group input-group-sm">
                                            <input type="text" formControlName="profession" class="form-control"
                                                placeholder="Profession du patient">
                                        </div>
                                        <span class="text-danger"
                                            *ngIf="invalidFormControls && invalidFormControls.profession">
                                            ce champ doit être renseigné
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="maritalStatus">Etat matrimonial</label>
                                        <ng-select formControlName="maritalStatus" placeholder="Etat Matrimonial">
                                            <ng-option *ngFor="let status of maritalStatus" [value]="status.id">
                                                {{status.value}}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col md 6">
                                    <div class="input-group-sm">
                                        <label for="idcardType">type carte d'identité</label>
                                        <span class="text-danger">*</span>
                                        <ng-select formControlName="idcardType" placeholder="Type carte d'identité" (change)="onIdCardTypeChange()">
                                            <ng-option *ngFor="let type of idCardTypes" [value]="type.id">
                                                {{type.value}}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col md 6">
                                    <div class="form-group">
                                        <label for="idCardNumber">Numero carte d'identité</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" formControlName="idCardNumber" class="form-control"
                                                placeholder="Numero carte d'identité">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="cnamNumber">Numero CNAM</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" formControlName="cnamNumber" class="form-control"
                                        placeholder="Numero CNAM">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">E-mail</label>
                                        <div class="input-group input-group-sm">
                                            <input type="email" formControlName="email" class="form-control"
                                                placeholder="E-mail">
                                            <!-- <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-at"></i></span>
                                            </div> -->
                                        </div>
                                        <span class="text-danger"
                                            *ngIf="invalidFormControls && invalidFormControls.email">
                                            Vous devez renseigner une adresse E-mail valid
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="address">Adresse</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" formControlName="address" class="form-control"
                                                placeholder="Adresse du patient">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group-sm">
                                            <label for="country">Pays</label>
                                            <ng-select formControlName="country" (change)="countryChange()"
                                                placeholder="Pays">
                                                <ng-option *ngFor="let country of countries" [value]="country.id">
                                                    {{country.name}}</ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group-sm">
                                            <label for="cityId">Ville</label>
                                            <ng-select formControlName="cityId" placeholder="Ville">
                                                <ng-option *ngFor="let city of cities" [value]="city.id">{{city.name}}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cellPhone1">Contact</label>
                                        <span class="text-danger">*</span>
                                        <div class="input-group input-group-sm">
                                            <input type="tel" formControlName="cellPhone1" class="form-control"
                                                placeholder="Numéro de téléphone portable">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                                            </div>
                                        </div>
                                        <span class="text-danger"
                                            *ngIf="invalidFormControls && invalidFormControls.cellPhone1">
                                            ce champ doit être renseigné
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cellPhone2">second contact</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" formControlName="cellPhone2" class="form-control"
                                                placeholder="second contact">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="correspondant">Correspondant</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" formControlName="correspondant" class="form-control"
                                        placeholder="Correspondant">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="correspondantCellPhone">Contact du correspondant</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" formControlName="correspondantCellPhone" class="form-control"
                                        placeholder="Contact du correspondant">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="emergencyContact1">Contact en cas d'urgence 1</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" formControlName="emergencyContact1" class="form-control"
                                                placeholder="Contact en cas d'urgence">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="emergencyContact2">Contact en cas d'urgence 2</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" formControlName="emergencyContact2" class="form-control"
                                                placeholder="Contact en cas d'urgence">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="motherFirstName">Nom de la mère</label>
                                        <span class="text-danger">*</span>
                                        <div class="input-group input-group-sm">
                                            <input type="text" formControlName="motherFirstName" class="form-control"
                                                placeholder="Profession du patient">
                                        </div>
                                        <span class="text-danger"
                                            *ngIf="invalidFormControls && invalidFormControls.motherFirstName">
                                            ce champ doit être renseigné
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="motherLastName">Prenom de la mère</label>
                                        <span class="text-danger">*</span>
                                        <div class="input-group input-group-sm">
                                            <input type="text" formControlName="motherLastName" class="form-control"
                                                placeholder="Profession du patient">
                                        </div>
                                        <span class="text-danger"
                                            *ngIf="invalidFormControls && invalidFormControls.motherLastName">
                                            ce champ doit être renseigné
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="motherProfession">Profession de la mère</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" formControlName="motherProfession" class="form-control"
                                        placeholder="Profession du patient">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <!-- insured tab -->
                <!-- ------------------------------------------------------------------------------------ -->
                <div class="tab-pane fade" id="pills-patient-insurances" role="tabpanel"
                    aria-labelledby="pills-patient-insurances-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div *ngFor="let insurance of insuranceFormGroup.controls; let index = index;">
                                <div class="items" id="{{'item_'+ index}}">
                                    <ng-container [formGroup]="insurance">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-4">
                                                <div class="form-group">
                                                    <label for="insurance"> Assurance / Mutuelle</label>
                                                    <span class="text-danger">*</span>
                                                    <ng-select class="" formControlName="insurance"
                                                        data-placeholder="Selectionner une mutuelle">
                                                        <ng-option *ngFor="let insurance of insurances"
                                                            [value]="insurance.id">
                                                            {{insurance.name}}</ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <div class="form-group">
                                                    <label for="cardNumber">N° carte Assurance</label>
                                                    <span class="text-danger">*</span>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" formControlName="cardNumber"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <div class="form-group">
                                                    <label for="isPrincipalInsured">Assuré principal </label>
                                                    <span class="text-danger">*</span>
                                                    <ng-select class="" formControlName="isPrincipalInsured" (change)="isPrincipalInsuredChange(index)">
                                                        <ng-option *ngFor="let option of isPrincipalInsuredOptions" [value]="option.id">{{option.value}}</ng-option>
                                                       
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <div class="form-group">
                                                    <label for="principalInsuredName">Nom Assuré principal</label>
                                                    <span class="text-danger">*</span>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" formControlName="principalInsuredName"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <div class="form-group">
                                                    <label for="principalInsuredContact">Contact de l'AP</label>
                                                    <span class="text-danger">*</span>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" formControlName="principalInsuredContact"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <div class="form-group">
                                                    <label for="principalInsuredAffiliation">Lien de parenté</label>
                                                    <span class="text-danger">*</span>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" formControlName="principalInsuredAffiliation"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <div class="form-group">
                                                    <label for="coverage">Taux (%) </label>
                                                    <span class="text-danger">*</span>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" formControlName="coverage"
                                                            class="form-control">
                                                        &nbsp;
                                                        <span class="text-danger"
                                                            *ngIf="invalidFormControls && invalidFormControls.coverage">
                                                            Le taux doit être un entier <= 100 </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <div class="form-group">
                                                    <label for="insuranceSuscriber">Etab. garant </label>
                                                    <span class="text-danger">*</span>
                                                    <ng-select class="" formControlName="insuranceSuscriber"
                                                        data-placeholder="">
                                                        <ng-option *ngFor="let subscriber of subscribers"
                                                            [value]="subscriber.id">
                                                            {{subscriber.name}}</ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <input type="hidden" formControlName="id">
                                            <div class="col-lg-1 col-md-2" >
                                               
                                                <span class="btn btn-danger btn-md mt-4" id="{{index}}"
                                                    (click)="deleteInsuranceRow(index)" [ngClass]="{'disabled': (this.insuranceFormGroup.controls[index].get('id').value != 0 )}"><i
                                                        class="fa fa-trash"></i></span>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                                <hr>
                            </div>

                            <span class="btn btn-primary" (click)="addInsurance()">Ajouter assurance</span>

                            <!-- /.card-body -->

                            <!-- /. card -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- / .card-body -->
    </div>
</form>
