<form [formGroup]="form" (ngSubmit)="save()">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="mr-auto p-2 col-md-4">
                    <h3>{{title}}</h3>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="py-1 col-lg-3  col-md-6 col-sm-12  text-nowrap">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-block btn-secondary btn-sm font-weight-bold"
                                (click)="preview()" data-toggle="modal" data-target="#staticBackdrop">
                                Previsualiser
                            </button>
                        </div>
                        <div class="py-1 col-lg-3  col-md-6 col-sm-12  text-nowrap">
                            <button type="submit" (click)="actionToDo('save')"
                                class="btn btn-block btn-success btn-sm font-weight-bold" value="save">
                                Enregistrer
                            </button>
                        </div>
                        <div class="py-1 col-lg-3  col-md-6 col-sm-12  text-nowrap" *ngIf='!checkUpId'>
                            <button type="submit" (click)="actionToDo('save_and_new')"
                                class="btn btn-block btn-info btn-sm font-weight-bold" value="save_and_new">
                                Enreg. & nouveau
                            </button>
                        </div>
                        <div class="py-1 col-lg-3  col-md-6 col-sm-12  text-nowrap">
                            <span (click)="cancelAction()" class="btn btn-block btn-danger btn-sm font-weight-bold"
                                value="cancel">
                                Annuler
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-check-up-tab" data-toggle="pill" href="#pills-check-up"
                        role="tab" aria-controls="pills-check-up" aria-selected="true">Bilan</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-acts-tab" data-toggle="pill" href="#pills-acts" role="tab"
                        aria-controls="pills-acts" aria-selected="false">Actes du bilan</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-check-up" role="tabpanel"
                    aria-labelledby="pills-check-up-tab">
                    <p class="text-muted"> NB: les champs marqués d'un astérisque ( <span class="text-danger">*</span> )
                        sont
                        obligatoire pour la validation du formulare</p>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label for="name">Bilan</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" formControlName="name" class="form-control"
                                        placeholder="Nom du bilan">
                                </div>
                                <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.name">
                                    ce champ doit être renseigné
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <div class="form-group">
                                <label for="typeactive">Etat</label>
                                <span class="text-red">*</span>
                                <ng-select formControlName="active" placeholder="Etat">
                                    <ng-option *ngFor="let active of actives" [value]="active.id">{{active.value}}
                                    </ng-option>
                                </ng-select>
                                <span class="text-danger" *ngIf="invalidFormControls && invalidFormControls.active">
                                    ce champ doit être renseigné
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-acts" role="tabpanel" aria-labelledby="pills-acts-tab">
                    <div class="row">
                        <div class="col-lg-7">
                            <form [formGroup]="actForm" (submit)="fetchActs()">
                                <div class="row">
                                    <div class="col-lg-4 pr-0 col-md-6 col-sm-12 mt-1">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <input type="text" formControlName="name" class="form-control"
                                                    placeholder="Acte">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 pr-0 col-md-6 col-sm-12 mt-1">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <ng-select formControlName="category" placeholder="Categorie de l'acte"
                                                    style="width: 100%;">
                                                    <ng-option *ngFor="let category of categories"
                                                        [value]="category.id">
                                                        {{category.name}}
                                                    </ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 pr-0 col-md-6 col-sm-12 mt-1">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <ng-select formControlName="family" placeholder="Famille de l'act"
                                                    style="width: 100%;">
                                                    <ng-option *ngFor="let family of families" [value]="family.id">
                                                        {{family.name}}
                                                    </ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="py-1 pr-0 col-lg-2 col-md-6 col-sm-12 mb-1">
                                        <button type='submit' class="btn btn-block btn-light btn-sm "
                                            style="width: 100%;">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table class="table table-sm table-hover table-bordered ">
                                    <thead class="thead-light text-center">
                                        <tr>
                                            <th scope="col" style="width: 5%;"></th>
                                            <th scope="col">Acte</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let act of acts">
                                            <th class="text-center" scope="row">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="{{act.id}}"
                                                        name="checkbox-stacked" value="{{act.id}}"
                                                        (change)="getSelectedActs(act)">
                                                    <label class="custom-control-label" for="{{act.id}}"></label>
                                                </div>
                                            </th>
                                            <td class="text-capitalize">{{act.name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center mb-5 mt-4">
                                <div *ngIf="loading" class="spinner-border text-info" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <span class="text-muted ml-3 " *ngIf="loading">Loading...</span>
                                <div *ngIf="hasNoData" class="mt-3">
                                    <span class="text-muted ml-3 ">{{EmptyMessage}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 border m-2 p-0">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover table-bordered ">
                                    <thead class="thead-light text-center">
                                        <tr>
                                            <th scope="col"> Liste des actes Selectionnés</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let selectedAct of selectedActs">
                                            <td class="text-capitalize">{{selectedAct.name}}</td>
                                            <td>
                                                <div class="badge badge-danger" (click)="removeAct(selectedAct)">X</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- hidden -->
            <input type="hidden" formControlName="id">
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          
            <div class="modal-body">
                <table style="width: 100%;">
                    <tr>
                        <td><img src="{{logo}}" alt="Logo" width="100"></td>
                        <td class="text-bold text-nowrap text-right"> Date:{{today}}</td>
                    </tr>
                </table>
                <h4>
                    <div class="my-5 text-center"><u><b>{{ckeckUpName}}</b></u></div>
                </h4>
                <div>
                    <ul>
                        <li *ngFor="let act of selectedActs">
                            <span class="text-capitalize">{{act.name}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>