<!-- <div class="card"> -->
    <div class="card-header"  *ngIf="listPatientConstantComponent">
        <div class="row pl-3 pr-3">
            <div class="col-md-7">
                <form [formGroup]="form">
                    <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group  input-group-sm">
                                        <input class="form-control" placeholder="dd-mm-AAAA" formControlName="date"
                                            ngbDatepicker #d="ngbDatepicker">
                                        <div class="input-group-append">
                                            <span class="input-group-text" (click)="d.toggle()">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <span class="text-danger"
                                        *ngIf="invalidFormControls && invalidFormControls.date">
                                        ce champ doit renseigné au format jj/mm/aaaa ou jj-mm-aaaa
                                    </span>  
                                    </div>
                                </div>
                            </div>
                            <div class="px-2 col-lg-2 col-md-2 col-sm-12 mb-1">
                                <span class="btn btn-light btn-sm" (click)="search()" style="width: 100%;">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5">
                <div>
                    <div class="row">
                        <div class="py-1 col-lg-5 col-md-6 col-sm-12">
                            <a routerLink="/patient-constant/add/{{patientId}}"
                                class="btn btn-block btn-success btn-sm font-weight-bold text-nowrap text-white">
                                <i class="fas fa-list mr-2"></i>
                                Nouveau
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <!-- <div class="row">
            <div class="col-md-10 text-center text-muted">
                <h4>{{title}}</h4>
            </div>
            <div class="col-md-2 text-right">
                <form [formGroup]="entryForm">
                     <div class="row">
                        <div for="entries" class="col-sm-12 text-right mt-1"> Afficher</div>
                        <div class="col-sm-12 mb-2">
                            <ng-select formControlName="entries" [searchable]="false" [clearable]="false"
                                (change)="OnEntryChange()">
                                <ng-option *ngFor="let entry of entries" [value]="entry.id">{{entry.value}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
        <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Date</th>
                        <th scope="col" class="text-center">Constances</th>
                        <th class="text-center">Note</th>
                        <th class="text-center">Prises par</th>
                    </tr>
                    <tr *ngFor="let constant of patientConstants">
                        <td class="text-center" scope="row">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="{{constant.id}}"
                                    name="radio-stacked" value="{{constant.id}}"
                                    (change)="onItemChange($event.target.value)">
                                <label class="custom-control-label" for="{{constant.id}}"></label>
                            </div>
                        </td> 
                        <td>{{constant.takenAt| date:'dd/MM/yyy HH:mm:ss'}}</td>
                        <td>
                            <div class="row">
        
                                <div *ngFor="let item of constant.values | keyvalue ">
        
                                    <div class="ml-5"><b> {{item.key}} = </b> {{item.value}}</div>
                                </div>
                            </div>
        
                        </td>
                        <td class="text-center">
                            <i *ngIf="constant.observation" class="fas fa-sticky-note text-info" style="size: 5px;" placement="top"
                            ngbPopover="{{constant.observation}}" popoverTitle="Observation" [autoClose]="'outside'"></i>
                        </td>
                        <td class="text-nowrap text-capitalize">
                            {{constant.takenByFirstName+ ' '+ constant.takenByLastName}}</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="text-center mb-5 mt-4">
            <div *ngIf="loading" class="spinner-border text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span class="text-muted ml-3 " *ngIf="loading">Loading...</span>
            <div *ngIf="hasNoData" class="mt-3">
                <span class="text-muted ml-3 " >{{EmptyMessage}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 offset-md-5">
                <ngb-pagination [collectionSize]="totalItem" [pageSize]="perPage" [(page)]="page" [maxSize]="10"
                    (pageChange)="onPageChange(page)" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
            </div>

        </div>
    </div>
<!-- </div> -->